<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign Up</h3>

      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" id="blockBreak" placeholder="Password" #userPwd required>
      </div>

      <!--btn btnPrimary sind die Buttons von Bootstrap-->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Sign Up" style="background-color: grey;" (click)="onSignUp(userEmail.value, userPwd.value, userName.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Registrieren mit Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="onDismiss()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
  </div>

</div>
