<mat-toolbar class="mat-toolbar">
  <img (click)="goToDashboard()" class="pointer" height="70px" src="../../../assets/img/ship4youWeiss.png">
 <span class="example-spacer"></span>
 <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button style="outline:none !important" *ngIf="authService.isLoggedIn" (click)="authService.router.navigateByUrl('/user-details')" mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>User profil</span>
  </button>
  <button (click)="authService.router.navigateByUrl('/dashboard')" mat-menu-item>
   <mat-icon>home</mat-icon>
   <span>Dashboard</span>
 </button>
  <button *ngIf="authService.isLoggedIn" (click)="authService.router.navigateByUrl('/add')" mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add new Boat</span>
  </button>
  <button (click)="authService.router.navigateByUrl('/about-us')" mat-menu-item>
    <mat-icon>group</mat-icon>
    <span>About us</span>
  </button>
</mat-menu>
</mat-toolbar>

<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <mat-card class="matCard">
        <div class="inMatCard">
      <h3>Reset Password</h3>

      <p class="text-center">Please enter your email address to request a password reset.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Methode ForgotPassword von AuthService Api aufrufen-->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" style="background-color: '#8d7260';" value="Reset Password" (click)="onSubmit(passwordResetEmail.value)">
      </div>
      <div class="redirectToLogin"> <!--Zurück zu Login Seite mittels route sign-in-->
        <span>Go back to? <span class="redirect" routerLink="/dashboard">Dashboard</span></span>
      </div> 
    </div>
    </mat-card> 
    </div>
  </div>
</div>