<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-secondary flex-md-nowrap p-0 shadow">
  <div class="topnav">
    <a *ngIf="!authService.isLoggedIn" href="http://localhost:4200/sign-in">Login</a>
    <a href="">About</a>
    <a href="">Contact</a>
    <a class="active" href="http://localhost:4200/dashboard">Home</a>
  </div>
  </nav>
  
  <!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Boat Details
                  </mat-panel-title>
                  <mat-panel-description>
                    Type in the details
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <mat-form-field>
                  <mat-label>Name des Bootes</mat-label>
                  <input matInput type="text" placeholder="Name des Bootes" name="boatName" [(ngModel)]="boatName">
                </mat-form-field>
            
                <mat-form-field>
                  <mat-label>Baujahr</mat-label>
                  <input matInput type="number" min="1000" placeholder="Baujahr" name="boatVintage" [(ngModel)]="boatVintage">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Land</mat-label>
                  <input matInput type="text" placeholder="Land" name="boatLocation" [(ngModel)]="boatLocation">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Vermieter</mat-label>
                  <input matInput type="text" placeholder="Vermieter" name="boatLessor" [(ngModel)]="boatLessor">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Cajüten</mat-label>
                  <input matInput type="number" min="0" placeholder="Cajüten" name="boatCabins" [(ngModel)]="boatCabins">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Länge</mat-label>
                  <input matInput type="number" min="1" placeholder="Länge" name="boatLength" [(ngModel)]="boatLength">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Segel</mat-label>
                  <input matInput type="number" min="0" placeholder="Segel" name="boatSails" [(ngModel)]="boatSail">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Personen</mat-label>
                  <input matInput type="number" min="1" placeholder="Personen" name="boatNumberOfPeople" [(ngModel)]="boatNumberOfPeople">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Masten</mat-label>
                  <input matInput type="number" min="0" placeholder="Masten" name="boatMasts" [(ngModel)]="boatMasts">
                </mat-form-field>
              </mat-expansion-panel>
            </mat-accordion>
        </ul>
      </div>
    </nav>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">  

<h2>Upload your boat</h2>

<br><br>

<div class="dropzone" 
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">

     <h3>Upload Pictures of your boat</h3>
     <p>Drop here</p>
</div>
<div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">
  <h3>Upload Documents of your boat</h3>
  <p>Drop here</p>
</div>
<button (click)="addData()">Click me!</button>
</main>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">  
<h3>Uploads</h3>

<div *ngFor="let file of files">
  <upload-task [file]="file"></upload-task>
</div>
</main>
</div>  