<mat-toolbar class="mat-toolbar">
  <img (click)="goToDashboard()" class="pointer" height="70px" src="../../../assets/img/ship4youWeiss.png">
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button style="outline:none !important" *ngIf="authService.isLoggedIn" (click)="authService.router.navigateByUrl('/user-details')" mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>User profil</span>
    </button>
    <button (click)="authService.router.navigateByUrl('/dashboard')" mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button (click)="authService.router.navigateByUrl('/contact-us')" mat-menu-item>
      <mat-icon>contacts</mat-icon>
      <span>Support</span>
    </button>
    <button (click)="authService.router.navigateByUrl('/about-us')" mat-menu-item>
      <mat-icon>group</mat-icon>
      <span>About us</span>
    </button>
  </mat-menu>
   </mat-toolbar>

<main role="main" class="col-md-2 ml-sm-auto col-lg-11 px-4">
<h3 class="title">Add Boat</h3>
<!--<div [hidden]="submitted" style="width: 300px;">-->
    <div class="form-group">
      <div *ngIf="checkID()===0" class="alert alert-danger" role="alert">
        Bootname oder Brand existiert bereits!
      </div>
      <div *ngIf="checkID()===1" class="alert alert-danger" role="alert">
        Bootname oder Brand darf nicht leer sein!
      </div>
        <div class="form-group">
          <label for="name" class ="labelSize">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="boat.name" name="name" required placeholder="Must not be empty">

          <label for="location" class ="labelSize">Location</label>
          <input type="text" class="form-control" id="location" [(ngModel)]="boat.location" name="location" required placeholder="Must not be empty">

          <label for="sail">Sails</label>
          <input type="number" class="form-control" id="sail" [(ngModel)]="boat.sail" name="sail" required placeholder="0-10">
        </div>

        <div class="form-group">
          <label for="cabins">Cabins</label>
          <input type="number" class="form-control" id="cabins" [(ngModel)]="boat.cabins" name="cabins" required placeholder="0-30">

          <label for="port">Port</label>
          <input type="text" class="form-control" id="port" [(ngModel)]="boat.port" name="port" required placeholder="Must not be empty">

          <label for="numberOfPeople">Number of people</label>
          <input type="number" class="form-control" id="numberOfPeople" [(ngModel)]="boat.numberOfPeople" name="numberOfPeople" required placeholder="1-30">
        </div>

        <div class="form-group">
          <label for="masts">Masts</label>
          <input type="number" class="form-control" id="masts" [(ngModel)]="boat.masts" name="masts" required placeholder="0-10">

          <label for="masts">Type</label>
          <select class="form-control"  id="type" required [(value)]="boat.type" name="type">
              <option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</option>
          </select>

          <label for="boatRentSide">Link to the rent side</label>
          <input type="text" class="form-control" id="BoatRentSide" [(ngModel)]="boat.linkToRentSide" name="boatRentSide" required placeholder="https://exampleboat.com">
        </div>

        <div class="form-group">
          <label for="vintage">Vintage</label>
          <input type="number" class="form-control" id="vintage" [(ngModel)]="boat.vintage" name="vintage" required placeholder="1980 - 2020">

          <label for="lessor">Lessor</label>
          <input type="text" class="form-control" id="lessor" [(ngModel)]="boat.lessor" name="lessor" required placeholder="Must not be empty">

          <label for="BoatCreatorEmail">Email of the creator</label>
          <input type="text" class="form-control" id="BoatCreatorEmail" [(ngModel)]="boat.creatorEmail" name="BoatCreatorEmail" required placeholder="max.mustermann@gmail.com">
        </div>

        <div class="form-group">
          <label for="brand">Brand</label>
          <input type="number" class="form-control" id="brand" [(ngModel)]="boat.brand" name="brand" required placeholder="Must not be empty">

          <label for="length">Length</label>
          <input type="number" class="form-control" id="length" [(ngModel)]="boat.length" name="length" required placeholder="0m-40m">
        </div>





        <form>
        <form>
          <form method="post" enctype="multipart/form-data">

            <label for="image_uploads">
              <mat-icon appMaterialElevation [defaultElevation]="0" raisedElevation="20" title="PNG, JPG" style="font-size: 30px; cursor: pointer;"> photo_library</mat-icon>
              <input style="position: absolute;" type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" onselect (change)="detectFiles($event)">
            </label>
            <label style="margin-top: -2.5%; margin-left: 3%;">
              Choose images to upload (PNG, JPG)
            </label>
          </form>

          <div [hidden]="uploadPercent==null">{{ uploadPercent | async }}%</div>

          <div *ngFor="let image of uploadUrlArray; let i = index">
            <img *ngIf="i == uploadUrlArray.length-1" class="myImg" src="{{image}}">
            <div *ngIf="i == uploadUrlArray.length-1">
              <input class="myImg" [(ngModel)]="description" name="description" placeholder="What can you see?">
            </div>
          </div>

        <!--Document-->
        <form method="post" enctype="multipart/form-data">

          <label for="document_uploads">
            <mat-icon appMaterialElevation [defaultElevation]="0" raisedElevation="20" title="PNG, JPG" style="font-size: 30px; cursor: pointer;"> photo_library</mat-icon>
            <input style="position: absolute;" type="file" id="document_uploads" name="document_uploads" accept=".txt, .pdf, .xlsx" onselect (change)="detectFilesDocuments($event)">
          </label>
          <label style="margin-top: -2.5%; margin-left: 3%;">
            Choose documents to upload (txt, xlsx, pdf)
          </label>
        </form>

        <div [hidden]="uploadPercentDocument==null">{{ uploadPercentDocument | async }}%</div>

        <div *ngFor="let document of uploadUrlArrayDocuments; let i = index">
          <img *ngIf="i == uploadUrlArrayDocuments.length-1 && fileEnd == 'pdf' " class="myImg" src="../../../../assets/pdf.png">
          <img *ngIf="i == uploadUrlArrayDocuments.length-1 && fileEnd == 'txt' " class="myImg" src="../../../../assets/txt.png">
          <img *ngIf="i == uploadUrlArrayDocuments.length-1 && fileEnd == 'xlsx' " class="myImg" src="../../../../assets/xlsx.png">
        </div>

        </form>
        <div>
          <button [disabled]="checkID()===2" mat-button (click)="goToMultUpload()" >Next</button>
        </div>
              </form>
        </div>
        </main>
