<div *ngIf="customer">
  <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="{{customer.imageUrl}}" width="100px" height="50px">
      </mat-panel-title>
      <mat-panel-description>
        <div>

          <div>
            Boat name: {{customer.name}}
          </div>
          <div>
            Location: {{customer.location}}
          </div>
        </div>
        <!--Click for more details-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
    <mat-list>Boat year: {{customer.vintage}}</mat-list>
    <mat-list>Boat type: {{customer.type}}</mat-list>
    <mat-list>Boat lessor: {{customer.lessor}}</mat-list>
    <mat-list>Boat cabins: {{customer.cabins}}</mat-list>
    <mat-list>Boat length: {{customer.length}}</mat-list>
    <mat-list>Boat sails: {{customer.sail}}</mat-list>
    <mat-list>Number of people: {{customer.numberOfPeople}}</mat-list>
    <mat-list>Boat masts: {{customer.masts}}</mat-list>

  </mat-card>
  </mat-expansion-panel>
</mat-accordion>
  <!--<div>
    <p>Boat Name: {{customer.name}}</p>
  </div>
  <div>
    <label>Brand: </label> {{customer.brand}}
  </div>
  <div>
    <label>Active: </label> {{customer.active}}
  </div>
 
  <span class="button is-small btn-primary" *ngIf='customer.active' (click)='updateActive(false)'>Inactive</span>
 
  <span class="button is-small btn-primary" *ngIf='!customer.active' (click)='updateActive(true)'>Active</span>
 
  <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span>-->
 
  <hr/>
</div>