<mat-toolbar class="mat-toolbar" color="primary">
 <span>Ship4You</span>
 <span class="example-spacer"></span>
 <a class="tool-but2" type="button" *ngIf="authService.isLoggedIn" mat-button color="accent" (click)="authService.router.navigateByUrl('/add')"><strong>Create Boate</strong></a>
 <a class="tool-but2" type="button" *ngIf="authService.isLoggedIn" mat-button color="accent" (click)="authService.router.navigateByUrl('/dashboard')">Dashboard</a>
 <a class="tool-but" type="button" *ngIf="authService.isLoggedIn" mat-button color="accent" (click)="authService.SignOut()"><strong>Log Out</strong></a>

</mat-toolbar>


<main role="main" class="col-md-8 ml-sm-auto col-lg-12 px-4">
  <div class="inner-adjust">
      <div class="col-md-8 ml-sm-auto col-lg-12 px-4">
        <br>
        <h3>User Profile</h3>
      </div>
      <hr>
    <!-- Show User data, if you loged in -->
    <div class="row" *ngIf="authService.userData as user">
      <div class="col-md-12">
        <div class="media">
          <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
            alt="{{user.displayName}}">
          <div class="media-body">
            <h1>{{(user.displayName) ? user.displayName : 'User'}}</h1>
          </div>
        </div>
      </div>
      <div>
        <br>
        <br>
        <h5>Change Password:</h5>
        <mat-form-field hidden>
          <input matInput placeholder="OldPassword" [ngModel]="oldUserpassword" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!oldUserpassword">Enter your old password</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="OldPassword" [ngModel]="oldUserpassword" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!oldUserpassword">Enter your old password</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="NewPassword" [ngModel]="newPassword" [type]="hide2 ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!newPassword">Enter your new password</mat-hint>
        </mat-form-field>  
        <button mat-button color="primary" (click)="authService.ChangePassword(oldUserpassword,newPassword,user.email)">Save Changes</button>
        <br>
        <br>
      </div>
    </div>
  </div>

</main>