<!-- Top navigation -->
<mat-toolbar class="mat-toolbar">
 <img height="70px" src="../../../assets/img/ship4youWeiss.png">
 <span class="example-spacer"></span>
 <a class="tool-but2" type="button" *ngIf="!authService.isLoggedIn" mat-button color="accent" (click)="authService.router.navigateByUrl('/dashboard')">Dashboard</a>

 <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button style="outline:none !important" *ngIf="authService.isLoggedIn" (click)="authService.router.navigateByUrl('/user-details')" mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>User profil</span>
  </button>
  <button *ngIf="authService.isLoggedIn" (click)="authService.router.navigateByUrl('/add')" mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add new Boat</span>
  </button>
  <button (click)="getAllFavBoats()" mat-menu-item>
    <mat-icon [style.color]="showFav ? 'red' : 'gray'">favorite</mat-icon>
    <span>Show Favorites</span>
  </button>
  <button (click)="authService.router.navigateByUrl('/contact-us')" mat-menu-item>
    <mat-icon>contacts</mat-icon>
    <span>Support</span>
  </button>
  <button (click)="authService.router.navigateByUrl('/about-us')" mat-menu-item>
    <mat-icon>group</mat-icon>
    <span>About us</span>
  </button>
  <button *ngIf="authService.isLoggedIn" (click)="authService.SignOut()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  <button *ngIf="!authService.isLoggedIn" (click)="confirmSignIn()" mat-menu-item>
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button *ngIf="!authService.isLoggedIn" (click)="confirmSignUp()" mat-menu-item>
    <mat-icon>how_to_reg</mat-icon>
    <span>Sign Up</span>
  </button>
</mat-menu>

</mat-toolbar>

<div class="container-fluid">
 <div class="row">

     <div class="sidebar-sticky">
           <mat-expansion-panel>
             <mat-expansion-panel-header class="disable_ripple">
               <mat-panel-title>
                 <h6>Filter:</h6>
               </mat-panel-title>
             </mat-expansion-panel-header>
             <br>
               <label class="labelSize"><strong>Boat length</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (click)="getValues(value, highValue)"></ngx-slider>
               </div>
             <hr>
               <label class="labelSize"><strong>Boat sails</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="sailsValue" [(highValue)]="sailsHighValue" [options]="optionsSails" (click)="getValues(sailsValue, sailsHighValue)"></ngx-slider>
               </div>
             <hr>
               <label class="labelSize"><strong>Boat masts</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="mastsValue" [(highValue)]="mastsHighValue" [options]="optionsMasts" (click)="getValues(mastsValue, mastsHighValue)"></ngx-slider>
             </div>
             <hr>
               <label class="labelSize"><strong>Boat cabins</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="cabinsValue" [(highValue)]="cabinsHighValue" [options]="optionsCabins" (click)="getValues(cabinsValue, cabinsHighValue)"></ngx-slider>
             </div>
             <hr>
               <label class="labelSize"><strong>Boat year</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="yearValue" [(highValue)]="yearHighValue" [options]="optionsYear" (click)="getValues(yearValue, yearHighValue)"></ngx-slider>
             </div>
             <hr>
               <label class="labelSize"><strong>Max. People</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="amountPeopleValue" [(highValue)]="amountPeopleHighValue" [options]="optionsAmountPeople" (click)="getValues(amountPeopleValue, amountPeopleHighValue)"></ngx-slider>
             </div>
       </mat-expansion-panel>
     <br>
     </div>

   <!-- Main content -->
   <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


    <form class="form-center">
      <mat-icon>search</mat-icon>
      <mat-form-field class="break-between">
        <input type="text" placeholder="Boatname" aria-label="Boatname" [(ngModel)]="searchBoatNameString" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="break-between">
        <input type="text" placeholder="Locations" aria-label="Locations" [(ngModel)]="searchLocationString" matInput [formControl]="namesControl" [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let option of filteredLocations | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    <mat-form-field class="break-between">
      <input type="text" placeholder="Brand" aria-label="Brand" [(ngModel)]="searchBrandString" matInput [formControl]="brandControl" [matAutocomplete]="auto3">
      <mat-autocomplete #auto3="matAutocomplete">
        <mat-option *ngFor="let option of filteredBrand | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="break-between">
      <input type="text" placeholder="Port" aria-label="Brand" [(ngModel)]="searchPortString" matInput [formControl]="portControl" [matAutocomplete]="auto4">
      <mat-autocomplete #auto4="matAutocomplete">
        <mat-option *ngFor="let option of filteredPort | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!--<mat-slide-toggle title="Show All Favorites" class="mat-slide-toggle-thumb" (click)="getAllFavBoats()"></mat-slide-toggle>-->
  </form>
<br>
<br>
       <div *ngIf="!showFav">
        <ul *ngFor="let c of customers" style="width: 300px;">
          <mat-accordion *ngIf="c.location.toUpperCase().includes(searchLocationString.toUpperCase()) && c.name.toUpperCase().includes(searchBoatNameString.toUpperCase()) && c.port.toUpperCase().includes(searchPortString.toUpperCase()) && c.brand.toUpperCase().includes(searchBrandString.toUpperCase()) && c.length > value-1 && c.length < highValue+1 && c.sail > sailsValue-1 && c.sail < sailsHighValue+1 && c.masts > mastsValue-1 && c.masts < mastsHighValue+1 && c.cabins > cabinsValue-1 && c.cabins < cabinsHighValue+1 && c.vintage > yearValue-1 && c.vintage < yearHighValue+1 && c.numberOfPeople > amountPeopleValue-1 && c.numberOfPeople < amountPeopleHighValue+1">
            <app-boat-details [boat]='c' [showButtons]='false'></app-boat-details>
            <br>
            <br>
          </mat-accordion>
        </ul>
      </div>
      <div *ngIf="showFav">
        <ul *ngFor="let c of favCustomerSort" style="width: 300px;">
          <mat-accordion *ngIf="c.location.toUpperCase().includes(searchLocationString.toUpperCase()) && c.name.toUpperCase().includes(searchBoatNameString.toUpperCase()) && c.port.toUpperCase().includes(searchPortString.toUpperCase()) && c.brand.toUpperCase().includes(searchBrandString.toUpperCase()) && c.length > value-1 && c.length < highValue+1 && c.sail > sailsValue-1 && c.sail < sailsHighValue+1 && c.masts > mastsValue-1 && c.masts < mastsHighValue+1 && c.cabins > cabinsValue-1 && c.cabins < cabinsHighValue+1 && c.vintage > yearValue-1 && c.vintage < yearHighValue+1 && c.numberOfPeople > amountPeopleValue-1 && c.numberOfPeople < amountPeopleHighValue+1">
              <app-boat-details [boat]='c'></app-boat-details>
              <br>
              <br>
          </mat-accordion>
        </ul>
      </div>
   </main>

 </div>
</div>
