<div class="displayTable">
  <div class="displayTableCell">
    <mat-card>
      <mat-card-header>
      <mat-card-title>
        <h2 id="headline">Write a Feedback</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <ngb-rating [(rate)]="currentRate" [max]="5">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <textarea type="text" [(ngModel)]="feedback" class="form-control" placeholder="Argument-Text"></textarea>
      </mat-card-content>
      <mat-card-footer>
        <div class="form-footer" fxFlex="25%">
          <span class="left-side">
          <button mat-button (click)="onDismiss()">Cancel</button>
          </span>
        <span class="right-side">
          <button mat-raised-button class="create-btn" (click)="addFeedback()">Create Feedback</button>
        </span>
        </div>

        <input type="file" multiple (change)="detectFiles($event)">
        <button (click)="uploadFile()" class="btn btn-primary">UPLOAD</button>
        <div>{{ uploadPercent | async }}</div>
        <a [href]="downloadURL">{{ downloadURL }}</a>
    
        <hr>-->
        <div class="row">
          <div class="col-lg-2 col-6" *ngFor="let test of tests | async">
            <div class="card">
              <img class="card-img-top" src="{{ test.imagenes }}" width="100%">
            </div>
          </div>
        </div>

      </mat-card-footer>
    </mat-card>
  </div>
</div>
