<mat-toolbar class="mat-toolbar">
  <img (click)="goToDashboard()" class="pointer" height="70px" src="../../../assets/img/ship4youWeiss.png">
  <span class="example-spacer"></span>
  <a class="tool-but2" type="button" *ngIf="!authService.isLoggedIn" mat-button color="accent" (click)="authService.router.navigateByUrl('/dashboard')">Dashboard</a>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
   <mat-icon>more_vert</mat-icon>
 </button>
 <mat-menu #menu="matMenu">
   <button style="outline:none !important" *ngIf="authService.isLoggedIn" (click)="authService.router.navigateByUrl('/user-details')" mat-menu-item>
     <mat-icon>person</mat-icon>
     <span>User profil</span>
   </button>
   <button (click)="authService.router.navigateByUrl('/dashboard')" mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Dashboard</span>
  </button>
   <button *ngIf="authService.isLoggedIn" (click)="authService.router.navigateByUrl('/add')" mat-menu-item>
     <mat-icon>add</mat-icon>
     <span>Add new Boat</span>
   </button>
   <button (click)="authService.router.navigateByUrl('/about-us')" mat-menu-item>
     <mat-icon>group</mat-icon>
     <span>About us</span>
   </button>
 </mat-menu>

 </mat-toolbar>

 <form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Contact us</p>

  <!-- Name -->
  <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
    class="form-control mb-4" placeholder="Name">

  <!-- Email -->
  <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
    class="form-control mb-4" placeholder="E-mail">

  <!-- Subject -->
  <label>Subject</label>
  <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
    <option value="" disabled>Choose option</option>
    <option value="Feedback" selected>Feedback</option>
    <option value="Report a bug">Report a bug</option>
    <option value="Feature request">Feature request</option>
  </select>

  <!-- Message -->
  <div class="form-group">
    <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
      rows="3" placeholder="Message"></textarea>
  </div>

  <!-- Send button -->
  <input type="submit" class="btn btnPrimary" style="background-color: '#8d7260'; color: white;" value="Send">

</form>
