<!-- Top navigation -->
<mat-toolbar class="mat-toolbar" color="primary">
  <button mat-icon-button (click)="openMenu()">
   <mat-icon>menu</mat-icon>
 </button>
 <span>Ship4You</span>
 <span class="example-spacer"></span>
 <a class="tool-but2" type="button" *ngIf="!authService.isLoggedIn" mat-button color="accent" (click)="authService.router.navigateByUrl('/dashboard')">Dashboard</a>
 <a class="tool-but" type="button" *ngIf="!authService.isLoggedIn" mat-button color="accent" (click)="authService.router.navigateByUrl('/sign-in')"><strong>Login</strong></a>
 <a class="tool-but" type="button" *ngIf="!authService.isLoggedIn" mat-button color="accent" (click)="authService.router.navigateByUrl('/register-user')"><strong>Sign Up</strong></a>
 <a class="tool-but2" type="button" *ngIf="authService.isLoggedIn" mat-button color="accent" (click)="authService.router.navigateByUrl('/add')"><strong>Create Boate</strong></a>
 <a class="tool-but2" type="button" *ngIf="authService.isLoggedIn" mat-button color="accent" (click)="authService.router.navigateByUrl('/user-details')"><strong>User Profile</strong></a>
 <a class="tool-but" type="button" *ngIf="authService.isLoggedIn" mat-button color="accent" (click)="authService.SignOut()"><strong>Log Out</strong></a>

</mat-toolbar>

<div class="container-fluid">
 <div class="row">

     <div *ngIf="this.menuOpen" class="sidebar-sticky">
           <mat-expansion-panel>
             <mat-expansion-panel-header class="disable_ripple">
               <mat-panel-title>
                 <h6>Filter:</h6>
               </mat-panel-title>
             </mat-expansion-panel-header>
             <br>
               <label class="labelSize"><strong>Boat length</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (click)="getValues(value, highValue)"></ngx-slider>
               </div>
             <hr>
               <label class="labelSize"><strong>Boat sails</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="sailsValue" [(highValue)]="sailsHighValue" [options]="optionsSails" (click)="getValues(sailsValue, sailsHighValue)"></ngx-slider>
               </div>
             <hr>
               <label class="labelSize"><strong>Boat masts</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="mastsValue" [(highValue)]="mastsHighValue" [options]="optionsMasts" (click)="getValues(mastsValue, mastsHighValue)"></ngx-slider>
             </div>
             <hr>
               <label class="labelSize"><strong>Boat cabins</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="cabinsValue" [(highValue)]="cabinsHighValue" [options]="optionsCabins" (click)="getValues(cabinsValue, cabinsHighValue)"></ngx-slider>
             </div>
             <hr>
               <label class="labelSize"><strong>Boat year</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="yearValue" [(highValue)]="yearHighValue" [options]="optionsYear" (click)="getValues(yearValue, yearHighValue)"></ngx-slider>
             </div>
             <hr>
               <label class="labelSize"><strong>Amount of People</strong></label>
               <div class="custom-slider">
                 <ngx-slider [(value)]="amountPeopleValue" [(highValue)]="amountPeopleHighValue" [options]="optionsAmountPeople" (click)="getValues(amountPeopleValue, amountPeopleHighValue)"></ngx-slider>
             </div>
       </mat-expansion-panel>
     <br>
     <mat-expansion-panel>
      <mat-expansion-panel-header class="disable_ripple">
        <mat-panel-title>
          <h6>Favourite Boats:</h6>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-slide-toggle (click)="getAllFavBoats()"></mat-slide-toggle>
    </mat-expansion-panel>

     </div>

   <!-- Main content -->
   <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

     <div class="container custom-container-2">
       <mat-icon>search</mat-icon>
     
           <mat-form-field>
             <mat-label>Locations</mat-label>
             <select matNativeControl [(ngModel)]="searchLocationString" name="searchLocationString">
               <option value="" selected></option>
               <option *ngFor="let location of allLocations" [value]="location">
                 {{location}}
               </option>
             </select>
           </mat-form-field>
           
           <mat-form-field>
             <mat-label>Boatname</mat-label>
             <select matNativeControl [(ngModel)]="searchBoatNameString" name="searchBoatNameString">
               <option value="" selected></option>
               <option *ngFor="let name of allNames" [value]="name">
                 {{name}}
               </option>
             </select>
           </mat-form-field>

           <mat-form-field>
             <mat-label>Lessor</mat-label>
             <select matNativeControl [(ngModel)]="searchLessorString" name="searchLessorString">
               <option value="" selected></option>
               <option *ngFor="let lessor of allLessors" [value]="lessor">
                 {{lessor}}
               </option>
             </select>
           </mat-form-field>

           <mat-form-field>
             <mat-label>Brand</mat-label>
             <select matNativeControl [(ngModel)]="searchBrandString" name="searchBrandString">
               <option value="" selected></option>
               <option *ngFor="let brand of allBrands" [value]="brand">
                 {{brand}}
               </option>
             </select>
           </mat-form-field>
           <button mat-button color="primary" (click)="resetSearchData()">Refresh Search
           </button>

       </div>

       <div *ngIf="!showFav">
        <ul *ngFor="let customer of customers" style="width: 300px;">
          <mat-accordion *ngIf="customer.location.toUpperCase().includes(searchLocationString.toUpperCase()) && customer.name.toUpperCase().includes(searchBoatNameString.toUpperCase()) && customer.lessor.toUpperCase().includes(searchLessorString.toUpperCase()) && customer.brand.toUpperCase().includes(searchBrandString.toUpperCase()) && customer.length > value-1 && customer.length < highValue+1 && customer.sail > sailsValue-1 && customer.sail < sailsHighValue+1 && customer.masts > mastsValue-1 && customer.masts < mastsHighValue+1 && customer.cabins > cabinsValue-1 && customer.cabins < cabinsHighValue+1 && customer.vintage > yearValue-1 && customer.vintage < yearHighValue+1 && customer.numberOfPeople > amountPeopleValue-1 && customer.numberOfPeople < amountPeopleHighValue+1" >
            <app-customer-details [customer]='customer'></app-customer-details>  
            <br>
            <br>
          </mat-accordion>
        </ul>
      </div>
      <div *ngIf="showFav">
        <ul *ngFor="let c of favCustomerSort" style="width: 300px;">
          <mat-accordion *ngIf="c.location.toUpperCase().includes(searchLocationString.toUpperCase()) && c.name.toUpperCase().includes(searchBoatNameString.toUpperCase()) && c.lessor.toUpperCase().includes(searchLessorString.toUpperCase()) && c.brand.toUpperCase().includes(searchBrandString.toUpperCase()) && c.length > value-1 && c.length < highValue+1 && c.sail > sailsValue-1 && c.sail < sailsHighValue+1 && c.masts > mastsValue-1 && c.masts < mastsHighValue+1 && c.cabins > cabinsValue-1 && c.cabins < cabinsHighValue+1 && c.vintage > yearValue-1 && c.vintage < yearHighValue+1 && c.numberOfPeople > amountPeopleValue-1 && c.numberOfPeople < amountPeopleHighValue+1">
              <app-customer-details [customer]='c'></app-customer-details>
              <br>
              <br>
          </mat-accordion>
        </ul>
      </div>
   </main>

 </div>
</div>