<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-secondary flex-md-nowrap p-0 shadow">
  <h1>Ship4You</h1>
  <div class="topnav">
    <a *ngIf="!authService.isLoggedIn" href="http://vm135.htl-leonding.ac.at:8080/sign-in">Login</a>
    <a *ngIf="authService.isLoggedIn" class="nav-link" (click)="authService.UserDetails()">
      <i class="fas fa-user"></i>User Profile
    </a>
    <a class="nav-link active" (click)="authService.BoatDashboard()">
      <i class="fas fa-ship"></i>Dashboard
    </a>
    <a *ngIf="authService.isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="/add">
      <i class="fas fa-upload"></i>Upload Boat
    </a>
  <!-- Calling SignOut() Api from AuthService -->
    <a *ngIf="authService.isLoggedIn" class="nav-link" (click)="authService.SignOut()">
      <i class="fas fa-sign-out-alt"></i>Log out
    </a>
</div>
</nav>
<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
            <mat-expansion-panel>
              <mat-expansion-panel-header class="disable_ripple">
                <mat-panel-title>
                  <h6>Filter:</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <br>
                <label class="labelSize"><strong>Boat length</strong></label>
                <mat-slider *ngIf="authService.isLoggedIn"
                  thumbLabel
                  [displayWith]="formatLabel"
                  min="1"
                  max="100">
                </mat-slider>
              <hr>
                <label class="labelSize"><strong>Boat sails</strong></label>
                <mat-slider *ngIf="authService.isLoggedIn"
                  thumbLabel
                  [displayWith]="formatLabelYear"
                  min="1"
                  max="20">
                </mat-slider>
              <hr>
                <label class="labelSize"><strong>Boat masts</strong></label>
                <mat-slider *ngIf="authService.isLoggedIn"
                  thumbLabel
                  [displayWith]="formatLabelYear"
                  min="1"
                  max="20">
                </mat-slider>
              <hr>
                <label class="labelSize"><strong>Boat cabins</strong></label>
                <mat-slider *ngIf="authService.isLoggedIn"
                  thumbLabel
                  [displayWith]="formatLabelYear"
                  min="1"
                  max="50">
                </mat-slider>
              <hr>
                <label class="labelSize"><strong>Boat year</strong></label>
                <mat-slider *ngIf="authService.isLoggedIn"
                  thumbLabel
                  [displayWith]="formatLabelYear"
                  min="1980"
                  max="2020">
                </mat-slider>
              <hr>
                <label class="labelSize"><strong>Amount of People</strong></label>
                <mat-slider *ngIf="authService.isLoggedIn"
                  thumbLabel
                  [displayWith]="formatLabelYear"
                  min="1"
                  max="35">
                </mat-slider>
        </mat-expansion-panel>
      <br>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="disable_ripple">
            <mat-panel-title>
              <h6>Favourite Boats:</h6>
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div class="container custom-container-2">
        <mat-icon>search</mat-icon>
      
            <mat-form-field>
              <mat-label>Locations</mat-label>
              <select matNativeControl required [(ngModel)]="searchLocationString" name="searchLocationString">
                <option value="" selected></option>
                <option *ngFor="let location of allLocations" [value]="location">
                  {{location}}
                </option>
              </select>
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Boatname</mat-label>
              <select matNativeControl required [(ngModel)]="searchBoatNameString" name="searchBoatNameString">
                <option value="" selected></option>
                <option *ngFor="let name of allNames" [value]="name">
                  {{name}}
                </option>
              </select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Lessor</mat-label>
              <select matNativeControl required [(ngModel)]="searchLessorString" name="searchLessorString">
                <option value="" selected></option>
                <option *ngFor="let lessor of allLessors" [value]="lessor">
                  {{lessor}}
                </option>
              </select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Brand</mat-label>
              <select matNativeControl required [(ngModel)]="searchBrandString" name="searchBrandString">
                <option value="" selected></option>
                <option *ngFor="let brand of allBrands" [value]="brand">
                  {{brand}}
                </option>
              </select>
            </mat-form-field>
            <button mat-button color="primary" (click)="resetSearchData()">Refresh Search
            </button>

        </div>

        <ul *ngFor="let customer of customers" style="width: 300px;">
              <mat-accordion *ngIf="customer.location.toUpperCase().includes(searchLocationString.toUpperCase()) && customer.name.toUpperCase().includes(searchBoatNameString.toUpperCase()) && customer.lessor.toUpperCase().includes(searchLessorString.toUpperCase()) && customer.brand.toUpperCase().includes(searchBrandString.toUpperCase())" >
                  <app-customer-details [customer]='customer'></app-customer-details>
              </mat-accordion>
        </ul>
            <!--<div *ngIf="boatsFound()">
              <p>Sorry, no boats found</p>
            </div>-->
    </main>

  </div>
</div>