<h3>Create Boat</h3>
<!--<div [hidden]="submitted" style="width: 300px;">-->
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput id="name" [(ngModel)]="customer.name" name="name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group">

      <mat-form-field appearance="outline">
        <mat-label>Brand</mat-label>
        <input matInput id="brand" [(ngModel)]="customer.brand" name="brand">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

    <!--<app-showUpload></app-showUpload>-->

    <div class="dropzone" 
dropzone
(hovered)="toggleHover($event)"
(dropped)="onDrop($event)"
[class.hovering]="isHovering">

<h3>Upload pictures</h3>
<p>Drag and Drop a File</p>
</div>

<div *ngFor="let file of files">
  <upload-task [file]="file"></upload-task>
  </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
<!--</div>-->

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!--<button class="btn btn-success" (click)="newCustomer()">Add</button>-->
</div>