<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-secondary flex-md-nowrap p-0 shadow">
  <div class="topnav">
    <a *ngIf="!authService.isLoggedIn" href="http://localhost:4200/sign-in">Login</a>
    <a href="">About</a>
    <a href="">Contact</a>
    <a class="active" href="http://localhost:4200/dashboard">Home</a>
  </div>
  </nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a class="nav-link active" (click)="authService.UserDetails()">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="authService.BoatDashboard()">
              <i class="fas fa-ship"></i>Boote
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/showUpload">Upload Boat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/users-list">Boat</a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li *ngIf="authService.isLoggedIn" class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
            <input type="text" placeholder="Location" [(ngModel)]="searchterm" (keydown)="search($event)">
            <ul *ngFor="let boat of boats">
              <mat-card>
              <mat-list>{{boat.location}}</mat-list>
              <mat-list>{{boat.name}}</mat-list>
            </mat-card>
            </ul>
            <div *ngIf="boats?.length < 1">
              <p>Sorry, no boats found</p>
            </div>
        </div>            
      </div>
    </main>

  </div>
</div>
