<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-secondary flex-md-nowrap p-0 shadow">
  <div class="topnav">
    <a *ngIf="!authService.isLoggedIn" href="http://localhost:4200/sign-in">Login</a>
    <a href="">About</a>
    <a href="">Contact</a>
    <a class="active" href="http://localhost:4200/dashboard">Home</a>
  </div>
  </nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a class="nav-link active" (click)="authService.UserDetails()">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="authService.BoatDashboard()">
              <i class="fas fa-ship"></i>Boote
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li *ngIf="authService.isLoggedIn" class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <form [formGroup]="stateForm">
            <mat-form-field>
              <input type="text" 
                     matInput
                     placeholder="Ort"
                     formControlName="stateGroup"
                     [matAutocomplete]="autoStateGroup" required>
                <mat-autocomplete #autoStateGroup="matAutocomplete">
                  <mat-optgroup *ngFor="let group of stateGroupOptions  | async" [label]="group.letter">
                    <mat-option *ngFor="let name of group.names" [value]="name">
                      {{name}}
                    </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
              <input type="text"
                     matInput
                     placeholder="Vermieter"
                     formControlName="vermieterGroup"
                     [matAutocomplete]="autoVermieterGroup" required>
              <mat-autocomplete #autoVermieterGroup="matAutocomplete">
                  <mat-optgroup *ngFor="let group of vermieterGroupOptions | async" [label]="group.letter">
                    <mat-option *ngFor="let name of group.names" [value]="name">
                      {{name}}
                    </mat-option>
                  </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
              <input type="text"
                     matInput
                     placeholder="Schiffstyp"
                     formControlName="boatTypeGroup"
                     [matAutocomplete]="autoBoatTypeGroup" required>
              <mat-autocomplete #autoBoatTypeGroup="matAutocomplete">
                  <mat-optgroup *ngFor="let group of schiffsTypGroupOptions | async" [label]="group.letter">
                    <mat-option *ngFor="let name of group.names" [value]="name">
                      {{name}}
                    </mat-option>
                  </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
              <input type="text"
                     matInput
                     placeholder="SchiffsName"
                     formControlName="boatNameGroup"
                     [matAutocomplete]="autoBoatNameGroup" required>
              <mat-autocomplete #autoBoatNameGroup="matAutocomplete">
                  <mat-optgroup *ngFor="let group of schiffsNameGroupOptions | async" [label]="group.letter">
                    <mat-option *ngFor="let name of group.names" [value]="name">
                      {{name}}
                    </mat-option>
                  </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>
            <input type="button" class="btn btnPrimary" style="background-color: lightblue;" value="Search">
          </form>
        </div>        
        
      </div>
    </main>

  </div>
</div>
