<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-secondary flex-md-nowrap p-0 shadow">
    <div class="topnav">
      <a href="">About</a>
      <a href="">Contact</a>
      <a class="active" href="http://localhost:4200/dashboard">Home</a>
    </div>
</nav>

<div class="container user-table">

    <!-- No data message -->
    <div class="alert alert-success text-center" role="alert" *ngIf="Users.length <= 0">
        No Ship added yet!
    </div>

    <ul class="list-unstyled">
        <li class="media" *ngFor="let user of Users; let i = index">
            <img [src]="user.avatar" height="250" width="300" class="mr-3" [alt]="user.name">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{user.name}}</h5>
                {{user._id}}
            </div>
        </li>
    </ul>

</div>